<div class="row">
  <div class="col-md-6 offset-md-3">
    <br><br><br>
      <%= form_with(url: user_path(current_user.id), local: true, method: "patch") do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Edit Profil</h1>

        <div class="form-group">
          <%= f.label :description, "Votre description" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :first_name, "Prénom" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :last_name, "Nom de famille" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "Mettre à jour", class: "btn btn-lg btn-primary btn-block"  %>
        </div>
      <% end %>
      <br>
      <%= link_to "- Back", :back %>
  </div>
</div>